@font-face {
	font-family: font-titolo;
	src: url(/fonts/Karla-Bold.ttf);
}

@font-face {
	font-family: font-titoletti;
	src: url(/fonts/Karla-Regular.ttf)
}


@font-face {
	font-family: font-testi;
	src: url(/fonts/Karla-Regular.ttf);
}


@font-face {
	font-family: font-descrizione;
	src: url(/fonts/SpaceGrotesk-Regular.ttf)
}

@font-face {
	font-family: font-testi-bold;
	src: url(/fonts/Karla-Bold.ttf);
}

@font-face {
	font-family: font-testi-italic;
	src: url(/fonts/Karla-Italic.ttf)
}


:root {
	--yellow: rgb(238, 249, 135);
	--gold: rgb(201, 137, 18);
  }  



/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
	display: none;
  }
    .example {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
  }

a {
	text-decoration: none;
}

body {
	margin: 0px;
	padding: 0px;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
  }

div {
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
}

.red {
	color: #de4053 !important;
}

.bold {
	font-family: font-testi-bold;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-family: Karla-italic;
}

::selection {
	background: #de4053;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #de4053;
	/* Gecko Browsers */
}

.white {
	color: white;
}

p {
	color: black;
	margin: 0;
}

#home-header {
	padding: 1rem 2rem;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	background-color: white;
}

#home-header-left {
	display: inline-block;
	float: left;
}

#home-header-right {
	display: inline-block;
	float: right;
}

.home-header-link {
	box-sizing: border-box;
	font-family: font-titoletti;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: black;
	vertical-align: center;
}

.home-header-link:hover {
	background-color: var(--yellow);

}

.home-header-link + .home-header-link {
	margin-left: 2rem;
}

.burger-icon {
	width: 30px;
	cursor: pointer;
	display: none;

}



#mobile-main-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	z-index: 200;
	text-align: center;
	background-color: white;
	display: none;

}


#mobile-menu-entries-container {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mobile-menu-link {
	box-sizing: border-box;
	font-family: font-titoletti;
	font-size: 1.5rem;
	line-height: 3.5rem;
	color: black;
	background-color: var(--yellow);
}


.menu-close-icon {
	width: 30px;
	position: absolute;
	right: 1rem;
	top: 1rem;
	cursor: pointer;
}


















#home-sotto {
	padding: 2rem 2rem 2rem 2rem;
	text-align: left;
	vertical-align: top;
}







#home-sopra {
	padding: 8rem 2rem 2rem 2rem;
}

#home-sopra-sx {
	width: 70%;
	text-align: left;
	display: inline-block;
	margin-bottom: 1rem;
}

#home-sopra-dx {
	display: inline-block;
	vertical-align: top;
	float: right;
}


.link-home {
	width: 32.5%;
	display: inline-block;
	position: relative;
	text-align: left;
	margin: 0rem 0.6rem 1.5rem 0rem;
	overflow: hidden;
}

@keyframes linkh-home-radius {
	from {border-radius: 10px;}
  	to {border-radius: 50px;}
}

@keyframes linkh-home-no-radius {
	from {border-radius: 50px;}
  	to {border-radius: 10px;}
}

.link-home-img {
	width: 100%;
	box-sizing: border-box;
	animation-name: linkh-home-no-radius;
  	animation-duration: 0.2s;
	border-radius: 0px;
	border-radius: 10px;
}

.link-home-img:hover {
	animation-name: linkh-home-radius;
  	animation-duration: 0.2s;
	border-radius: 50px;
}


#career-body {
	padding: 0px;
	margin: 0px;
}

.career-photo-container {
	width: 35%;
	display: inline-block;
	float: left;
}

.career-photo {
	width: 80%;
}

.career-aboutme-text-container {
	width: 55%;
	display: inline-block;
}

.career-longtext-container {
	width: 80%;
}

.career-header {
	padding: 4rem 3rem 2rem 3rem;
}

.titolo-career-container {
	display: inline-block;
}

.icona-career-container {
	width: 35%;
	display: inline-block;
}

#icona-career {
	width: 2.5rem;
}

#icona-career:hover {
	box-shadow: 5px 8px 8px #0006;
}

.career-about-me {
	width: 100%;
	padding: 3rem 3rem 6rem 3rem;
	background-color: #f5eed5;
}

#icona-home {
	image-rendering: optimizeSpeed;
	/* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;
	/* Firefox                        */
	image-rendering: -o-crisp-edges;
	/* Opera                          */
	image-rendering: -webkit-optimize-contrast;
	/* Chrome (and eventually Safari) */
	image-rendering: pixelated;
	/* Chrome */
	image-rendering: optimize-contrast;
	/* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;
	width: 100%;
}


#icona-home:hover {
	box-shadow: 5px 8px 8px #0006;
}

#home-credits {
	width: 35%;
	display: inline-block;
	vertical-align: top;
}

#footer {
	width: 100%;
	padding: 2rem;
	vertical-align: top;
}

#footer-contacts-container {
	width: 50%;
	display: inline-block;
}

.footer-contact-link {
	font-size: 1.4rem;
}

.nico-btn {
	border-radius: 10px;
	padding: 1rem;
	color: white;
	border: none;
	font-family: font-titoletti;
	font-size: 2rem;
	line-height: 1.6rem;
}

.nico-btn:hover {
	/* box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.4); */
	cursor: pointer;
	background-color: black;
}


.nico {
	font-family: font-titolo;
	font-size: 3rem;
	line-height: 2.5rem;
	margin-bottom: 3rem;
	margin-top: 0rem;
}

.titolo-career {
	font-family: font-titolo;
	font-size: 5rem;
	color: black;
	line-height: 4rem;
	margin: 0;
}

.nico-descrizione {
	font-family: font-testi;
	font-size: 2.8rem;
	line-height: 3.2rem;
	margin: 0 0 2rem 0;
	
}


.external-link {
	background-color: var(--yellow);
	color: black;
	text-decoration: underline;
	white-space: nowrap;
}

.external-link:hover {
	color: var(--gold);
}


.nico-descrizione-small {
	font-family: font-testi;
	font-size: 1.5rem;
	line-height: 2rem;
}



.project-type-title {
	font-family: font-testi-bold;
	font-size: 1.6rem;
	line-height: 1.8rem;
	color: black;
	margin: 0 0 1rem 0;
	padding: 0;
	text-decoration: underline;
}

.link-home-text {
	font-family: font-titoletti;
	font-size: 1.7rem;
	line-height: 1.9rem;
	margin: 1rem 0 0.2rem 0;
}

.link-home-genre {
	font-family: font-testi;
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin-top: 0;
	color: var(--gold);
}

.main-menu-entry {
	font-family: font-corsivo;
	font-size: 2rem;
	color: white;
	line-height: 2rem;
	cursor: pointer;
	margin-top: 2.5rem;
}

.main-menu-entry:hover {
	text-decoration: underline;
}


#main-menu {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-menu-container {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}



.illustration-img {
	width: 300px;
}


@keyframes menu-enter {
	from {opacity: 0;}
  	to {opacity: 1;}
}

@keyframes menu-exit {
	from {opacity: 1;}
  	to {opacity: 0;}
}

.menu-hidden {
	animation-name: menu-exit;
  	animation-duration: 0.3s;
	pointer-events: none;
	opacity: 0;
}


.menu-shown {
	animation-name: menu-enter;
  	animation-duration: 0.3s;
	pointer-events: all;
	opacity: 1;
}


.career-text {
	font-family: font-testi;
	font-size: 1.5rem;
	line-height: 1.9rem;
}

.career-text-big {
	font-family: font-testi;
	font-size: 2.1rem;
	line-height: 2.6rem;
	margin: 0 0 3rem 0;
}

.home-credits-text {
	font-family: font-testi;
	font-size: 1rem;
}

.footer-contact-title {
	font-family: font-testi;
	font-size: 1.3rem;
	margin-bottom: 0.7rem;
}

.pistachio {
	font-family: font-testi-bold;
	color: white;
}

.pistachio-onwhite {
	font-family: font-testi-bold;
	color: black;
	text-decoration: underline;
	white-space: nowrap;
}

.pistachio-onwhite:hover {
	color: #fb0066;
}

.pistachio:hover {
	color: #de4053;
}




@media (max-width: 1400px) {

	.career-aboutme-text-container{
		width: 65%;
	}
}

@media (max-width: 1200px) {

	.career-longtext-container {
		width: 100%;
	}

	.nico {
		font-size: 7rem;
		line-height: 6rem;
	}

	#home-sopra {
		padding: 5rem 3rem 2rem 3rem;
		height: 70vh;
	}

	#home-sotto {
		padding: 2rem 3rem 2rem 3rem;
	}

	.career-button-home {
		top: 3rem;
		right: 6rem;
	}

	#footer {
		padding: 2rem 3rem 2rem 3rem;
	}


	.career-photo-container {
		width: 45%;
	} 

}

@media (max-width: 1000px) {

	#home-sopra-sx {
		width: 75%;
	}

}

@media (max-width: 800px) {

	.link-home {
		width: 45%;
	}

	.nico {
		font-size: 5rem;
		line-height: 4rem;
	}

	.nico-descrizione {
		font-size: 1.4rem;
		line-height: 1.7rem;
	}

	#home-sopra {
		padding: 2rem 3rem 2rem 3rem;
		height: 100%;
	}

	#home-sopra-sx {
		width: 85%;
	}

	.career-button-home {
		right: 3rem;
		width: 5rem;
	}

	.career-button-home-label {
		font-size: 1.1rem;
		line-height: 1.2rem;
	}

	#home-credits {
		width: 45%;
	}

	
	.menu-button-home {
		top: 2rem;
		right: 2rem;
	}

}



@media (max-width: 600px) {

	.mobile-appear {
		display: block;
	}

	.mobile-disappear {
		display: none;
	}

	#home-header {
		padding: 1rem;
	}
	




	.nico {
		font-size: 5rem;
		line-height: 5rem;
		margin-bottom: 1.3rem;
	}

	.nico-descrizione {
		font-size: 2rem;
		line-height: 2.7rem;
	}

	#home-sopra {
		padding: 6rem 1rem 1rem 1rem;
	}

	#home-sotto {
		padding: 1rem 1rem 1rem 1rem;
	}

	.link-home {
		width: 100%;
	}

	.link-home-text {
		margin-top: 0.5rem;
	}

	.link-home-genre {
		margin-bottom: 0;
	}

	#home-sopra-sx {
		width: 100%;
	}

	.icona-career-container {
		width: 33%;
	}

	.icona-career {
		width: 4rem;
	}

	.titolo-career {
		font-size: 3rem;
	}

	.career-header {
		padding: 1rem;
	}

	.career-about-me {
		padding: 1rem;
	}

	.career-text-big {
		font-size: 1.5em;
		line-height: 1.9rem;
		margin: 0 0 2rem 0;
	}

	.career-text {
		font-size: 1.2em;
		line-height: 1.5rem;
		margin: 0 0 2rem 0;
	}


	.career-photo-container {
		width: 100%;
	} 

	.career-photo {
		width: 100%;
		margin-bottom: 2rem;
	}
	

	.career-aboutme-text-container{
		width: 100%;
	}

	#footer {
		padding: 2rem 1rem 2rem 1rem;
	}

	#footer-contacts-container {
		width: 100%;
		padding-bottom: 3rem;
	}

	#home-credits {
		width: 100%;
	}
}