@font-face {
	font-family: font-titolo;
	src: url(/fonts/Karla-Bold.ttf);
}

@font-face {
	font-family: font-titoletti;
	src: url(/fonts/Karla-Regular.ttf)
}

@font-face {
	font-family: font-testi;
	src: url(/fonts/Karla-Regular.ttf);
}

@font-face {
	font-family: font-descrizione;
	src: url(/fonts/SpaceGrotesk-Regular.ttf)
}

@font-face {
	font-family: font-testi-bold;
	src: url(/fonts/Karla-Bold.ttf);
}

@font-face {
	font-family: font-testi-italic;
	src: url(/fonts/Karla-Italic.ttf)
}






/* ___________GENERAL */

html {
	box-sizing: border-box;
  }
*, *:before, *:after {
box-sizing: inherit;
}

:root {
	--yellow: rgb(238, 249, 135);
	--gold: rgb(201, 137, 18);
}  

a {
	text-decoration: none;
}

body {
	margin: 0px;
	padding: 0px;
}

div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-family: Karla-italic;
}

p {
	color: black;
	margin: 0;
}






/* ___________HEADER & MENU */

#home-header {
	padding: 1rem 2rem;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	background-color: white;
}

#home-header-left {
	display: inline-block;
	float: left;
}

#home-header-right {
	display: inline-block;
	float: right;
}

.home-header-link {
	box-sizing: border-box;
	font-family: font-titoletti;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: black;
	vertical-align: center;
}

.home-header-link:hover {
	background-color: var(--yellow);
}

.home-header-link + .home-header-link {
	margin-left: 2rem;
}

.burger-icon {
	width: 30px;
	cursor: pointer;
	display: none;

}

#mobile-main-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	z-index: 200;
	text-align: center;
	background-color: white;
	display: none;

}

#mobile-menu-entries-container {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mobile-menu-link {
	box-sizing: border-box;
	font-family: font-titoletti;
	font-size: 1.5rem;
	line-height: 3.5rem;
	color: black;
	background-color: var(--yellow);
}

.menu-close-icon {
	width: 30px;
	position: absolute;
	right: 1rem;
	top: 1rem;
	cursor: pointer;
}

.main-menu-entry {
	font-family: font-corsivo;
	font-size: 2rem;
	color: white;
	line-height: 2rem;
	cursor: pointer;
	margin-top: 2.5rem;
}

.main-menu-entry:hover {
	text-decoration: underline;
}

#main-menu {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-menu-container {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

@keyframes menu-enter {
	from {opacity: 0;}
  	to {opacity: 1;}
}

@keyframes menu-exit {
	from {opacity: 1;}
  	to {opacity: 0;}
}

.menu-hidden {
	animation-name: menu-exit;
  	animation-duration: 0.3s;
	pointer-events: none;
	opacity: 0;
}

.menu-shown {
	animation-name: menu-enter;
  	animation-duration: 0.3s;
	pointer-events: all;
	opacity: 1;
}
















/* ___________HOME */

#home-sopra {
	padding: 8rem 2rem 2rem 2rem;
}

#home-sopra-sx {
	width: 70%;
	text-align: left;
	display: inline-block;
	margin-bottom: 1rem;
}

#home-sopra-dx {
	display: inline-block;
	vertical-align: top;
	float: right;
}

#home-sotto {
	padding: 2rem;
	text-align: left;
	vertical-align: top;
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 20px;
	row-gap: 50px;
}

.link-home {
	position: relative;
	text-align: left;
	overflow: hidden;
}


@keyframes linkh-home-radius {
	from {border-radius: 10px;}
  	to {border-radius: 50px;}
}

@keyframes linkh-home-no-radius {
	from {border-radius: 50px;}
  	to {border-radius: 10px;}
}

.link-home-img {
	width: 100%;
	box-sizing: border-box;
	animation-name: linkh-home-no-radius;
  	animation-duration: 0.2s;
	border-radius: 0px;
	border-radius: 10px;
}

.link-home-img:hover {
	animation-name: linkh-home-radius;
  	animation-duration: 0.2s;
	border-radius: 50px;
}

.nico-descrizione {
	font-family: font-testi;
	font-size: 2.8rem;
	line-height: 3.2rem;
	margin: 0 0 2rem 0;
}

.external-link {
	background-color: var(--yellow);
	color: black;
	text-decoration: underline;
	white-space: nowrap;
}

.external-link:hover {
	color: var(--gold);
}

.simpler-link {
	color: black;
	text-decoration: underline;
	white-space: nowrap;
}

.simpler-link:hover {
	color: var(--gold);
}

.nico-descrizione-small {
	font-family: font-testi;
	font-size: 1.5rem;
	line-height: 2rem;
}

.project-type-title {
	font-family: font-testi-bold;
	font-size: 1.6rem;
	line-height: 1.8rem;
	color: black;
	margin: 0 0 1rem 0;
	padding: 0;
	text-decoration: underline;
}

.link-home-text {
	font-family: font-titoletti;
	font-size: 1.7rem;
	line-height: 1.9rem;
	margin: 1rem 0 0.2rem 0;
}

.link-home-genre {
	font-family: font-testi;
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin-top: 0;
	color: var(--gold);
}

#home-credits {
	width: 35%;
	display: inline-block;
	vertical-align: top;
}

#footer {
	width: 100%;
	padding: 2rem;
	vertical-align: top;
}

#footer-contacts-container {
	width: 50%;
	display: inline-block;
}

.footer-contact-link {
	font-size: 1.4rem;
}

.home-credits-text {
	font-family: font-testi;
	font-size: 1rem;
}

.footer-contact-title {
	font-family: font-testi;
	font-size: 1.3rem;
	margin-bottom: 0.7rem;
}














/* ___________CAREER */

#career-body {
	padding: 0px;
	margin: 0px;
}

.career-title {
	font-family: font-testi;
	font-size: 3rem;
	margin-bottom: 2rem;
	line-height: 3rem;
}

.career-photo-container {
	width: 40%;
	display: inline-block;
	float: left;
}

.career-photo {
	width: 90%;
	border-radius: 10px;
}

.career-aboutme-text-container {
	width: 55%;
	display: inline-block;
}

.career-text-section {
	width: 80%;
	margin-bottom: 3rem;
}

.career-about-me {
	width: 100%;
	padding: 8rem 2rem 8rem 2rem;
}

.titolo-career {
	font-family: font-titolo;
	font-size: 5rem;
	color: black;
	line-height: 4rem;
	margin: 0;
}

.career-text {
	font-family: font-testi;
	font-size: 1.5rem;
	line-height: 1.9rem;
}

.career-button {
	font-family: font-testi;
	font-size: 2.1rem;
	line-height: 2.6rem;
	margin: 0 0 1rem 0;
	background-color: white;
	border-style: solid;
	cursor: pointer;
}

.career-button:hover {
	background-color: var(--yellow);
}














/* ___________ILLUSTRATION */


#illustration-body {
	padding: 2rem;
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 30px;
	row-gap: 30px;
	background-color: #eeeeee;
}

.illustration-image {
	height: 400px;
	display: inline-block;
	background-size: cover;
	border-radius: 10px;
	cursor: pointer;
}

#illustration-header {
	padding: 8rem 2rem 2rem 2rem;
	width: 60%;
}

.illustration-title {
	font-family: font-titolo;
	font-size: 3.5rem;
}

.masonry-grid {
	padding: 0 2rem;
}

.masonry-grid-item {
	width: 23%;
	cursor: zoom-in;
}

.grid-item-2 {
	width: 46%;
}

.masonry-img {
	width: 100%;
}














@media (max-width: 1200px) {

	#home-sopra-sx {
		width: 85%;
	}

	#home-sotto {
		grid-template-columns: auto auto;
	}

	#footer {
		padding: 2rem 3rem 2rem 3rem;
	}

	.career-photo-container {
		width: 45%;
	} 

	.career-text-section {
		width: 90%;
	}

	.illustration-image {
		height: 300px;
	}
}


@media (max-width: 800px) {

	#home-sopra-sx {
		width: 100%;
	}

	.nico-descrizione {
		font-size: 2.2rem;
		line-height: 2.7rem;
	}

	#home-credits {
		width: 45%;
	}

	.career-photo-container {
		width: 100%;
	} 

	.career-photo {
		width: 100%;
		margin-bottom: 2rem;
	}

	.career-aboutme-text-container{
		width: 100%;
	}

	#illustration-body {
		grid-template-columns: auto auto;
		column-gap: 15px;
		row-gap: 15px;
	}
}


@media (max-width: 600px) {

	.mobile-appear {
		display: block;
	}

	.mobile-disappear {
		display: none;
	}

	#home-header {
		padding: 1rem;
	}

	.nico-descrizione {
		font-size: 2rem;
		line-height: 2.7rem;
	}

	#home-sopra {
		padding: 6rem 1rem 1rem 1rem;
	}

	#home-sotto {
		padding: 1rem 1rem 1rem 1rem;
		grid-template-columns: auto ;
	}

	.link-home {
		width: 100%;
	}

	.link-home-text {
		margin-top: 0.5rem;
	}

	.link-home-genre {
		margin-bottom: 0;
	}

	#home-sopra-sx {
		width: 100%;
	}

	.career-about-me {
		padding: 1rem;
	}

	.career-text-big {
		font-size: 2.5em;
		line-height: 2.6rem;
		margin: 0 0 2rem 0;
	}

	.career-text {
		font-size: 1.4em;
		line-height: 1.7rem;
		margin: 0 0 2rem 0;
	}

	#footer {
		padding: 2rem 1rem 2rem 1rem;
	}

	#footer-contacts-container {
		width: 100%;
		padding-bottom: 3rem;
	}

	#home-credits {
		width: 100%;
	}

	#illustration-body {
		grid-template-columns: auto;
		row-gap: 15px;
	}

	.illustration-image {
		height: 400px;
	}
}