body {
	background-color: #FAF6E7;
	margin: 0px;
	overscroll-behavior: none;
}

a {
	text-decoration: none;
	white-space:nowrap;
}

p {
	margin: 0;
}

::selection {
	background: white; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
	background: white; /* Gecko Browsers */
  }


@font-face {
    font-family: HappyTimes_italic;
    src: url(happy-times-italic.otf);
}

@font-face {
    font-family: HappyTimes_regular;
    src: url(happy-times.otf);
}

@font-face {
    font-family: HappyTimes_bold;
    src: url(happy-times-bold.otf);
}

@font-face {
    font-family: Karla_regular;
    src: url(Karla-Regular.ttf);
}

@font-face {
    font-family: Karla_Bold;
    src: url(Karla-Bold.ttf);
}


@font-face {
	font-family: noodle;
	src: url(big_noodle_titling_oblique.ttf);
}








#head {
	padding: 0rem 6rem;
	top: 0;
	position: fixed;
	overflow: hidden;
}

#head-sx {
	width: 40%;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5vw;
}

#head-sx-home {
	vertical-align: top;
}

#head-sx-luna {
	margin: 6rem 0 2rem 0;
	vertical-align: center;
}


#head-dx {
	width: 45%;
	display: inline-block;
}

#head-sotto {
	width: 100%;
	padding: 5rem 0 0 0;
	
}

#head-sotto-sx {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

#head-sotto-sx-testo {
	width: 80%;
}

#head-sotto-dx {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

#head-sotto-dx-team {
	display: inline-block;
	width: 40%;
	margin-left: 3rem
}

#head-sotto-dx-year {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-left: 3rem
}


#head-sotto-sotto {
	padding: 4rem 0 1rem 0;
	text-align: center;
}


#contenitore-immagini {
	padding: 3rem 6rem;
	text-align: center;
}


.immagini-progetto {
	display: inline-block;
	margin: 0.3rem 0rem;
}

.immagini-1 {
	width: 90%;
}

.immagini-2 {
		width: 45%;
}

.immagini-3 {
	width: 30%;
}


.testo-tra-immagini {
	text-align: center;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: top;
	margin-bottom: 2rem;
	margin-top: 2rem;
}


.icona-testo-full-width {
	height: 10rem;
	display: inline;
	float: left;
}

.testo-full-width {
	display: block;
	width: 55%;
	padding: 4rem 0 4rem 0;
	height: 10rem;
}


#footer {
	padding: 3rem 3rem;
	text-align: center;
}











.testo-gigante {
	font-family: Karla_Bold;
	font-size: 4rem;
	line-height: 4rem;
	margin: 0;
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}

.testo-gigante-shrink {
	font-family: Karla_Regular;
	font-size: 1.3rem;
	line-height: 2rem;

	width: 500px; 
	position: absolute;
	top: 0px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	text-decoration: none;
	text-align: center;
}


.titoletto-sans {
	font-family: Karla_Bold;
	font-size: 1.4rem;
	color: black;
}

.testo-sans {
	font-family: Karla_Regular;
	font-size: 1rem;
	color: black;
}

.testo-serif-piccolo {
	color: black;
	font-family: Karla_Regular;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

.testo-serif-piu-piccolo {
	color: black;
	font-family: Karla_Regular;
	font-size: 1rem;
	line-height: 1.2rem;
}


.testo-serif-medio {
	color: black;
	font-family: Cormorant-light;
	font-size: 3.2rem;
	line-height: 2rem;
}

#disciplina {
	display: inline;
	float: right;
	margin: 0 6rem 0 0;
}

#luna {
	font-family: HappyTimes_italic;
	font-size: 4rem;
	display: inline;
}

.immagine-titolo {
	width: 60%;
}

.pallino {
	display: inline;
}

.video {
	width:90%;
	height: 764px;
	margin-bottom: 2rem;
}

.mobile-show {
	display: none;
}
.mobile-hide {
	display: inline-block;
}













.bold {
	font-family: HappyTimes_bold;
	font-size: 3.4rem;
}

.underline {
	text-decoration: underline;
}

.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

.pointer {
	cursor: pointer;
}


.left {
	float: left;
}

.right {
	float: right;
}

.immagini-otok {
	background-color: #b6b5c3;
}


.pistachio {
	font-family: Karla_Regular;
	color: white;
}

.pistachio-onwhite {
	font-family: Karla_Bold;
	color: black;
	text-decoration: underline;
}

.pistachio:hover {
	background-color: white;
	color: black;
}

.topistachio:hover {
	color: #ee5a7a;
}


.back-svg {
	width: 70px;
	fill: white;
}

.back-svg-shrink {
	width: 30px;
	position: absolute;
	top: 5px;
}





@media screen and (max-width: 1400px) {
	#head {
		padding: 0rem 3rem;
	}
	
	#head-sx {
		width: 45%;
		margin-right: 0vw;
	}
	#head-dx {
		width: 50%;
		margin-right: 0vw;
	}
	
	#head-sotto-dx {
		width: 45%;
	}
	
	#head-sotto-dx-team {
		margin-left: 1rem;
	}

	#head-sotto-dx-year {
		margin-left: 1rem;
	}
	
	#head-sotto-sx-testo {
		width: 90%;
	}
	
	#disciplina {
		margin: 0 4rem 0 0;
	}
	
	.video {
		height: 600px;
		width: 90%;
	}
	
	.testo-tra-immagini {
		width: 55%;
	}

	.immagine-titolo {
		width: 80%
	}
}


@media screen and (max-width: 1000px) {

	#head-sx-luna {
		margin-top: 2rem;
	}


	#head-sx {
		width: 55%;
	}

	#head-sotto-sx {
		width: 55%;
	}
	
	#head-dx {
		width: 40%;
	}

	#head-sotto-dx {
		width: 40%;
	}

	#head-sotto-dx-team {
		width: 50%;
		margin-left: 0;
	}

	#contenitore-immagini {
		padding: 3rem;
	}


	.immagini-progetto {
		margin: 0.6rem 0rem; 
	}

	.immagini-1 {
			width: 100%;
	}

	.immagini-2 {
			width: 49%;
	}
	
	#disciplina {
		margin: 0 2rem 0 0;
	}
	
	.video {
		height: 450px;
		width: 100%;
	}

	.testo-tra-immagini {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding: 1rem 0 1rem 0;
	}
	
}





@media screen and (max-width: 800px) {
	
	.testo-gigante {
		font-size: 3.4rem;
		line-height: 4.2rem;
	}
	
	#head-sx {
		width: 100%;
	}
	#head-dx {
		width: 100%;
	}
	
	#head-sotto {
		padding: 3rem 0 0 0;
	}
	
	.immagini-1 {
			width: 100%;
	}

	.immagini-2 {
			width: 100%;
	}
	
	#disciplina {
		margin: 0;
	}
	
	.video {
		height: 400px;
	}

	.immagine-titolo {
		width: 50%;
	}

	.mobile-show {
		display: block;
	}
	.mobile-hide {
		display: none;
	}

	.testo-gigante-shrink {
		font-size: 1.5rem;
		line-height: 2.3rem;
	}
	
}

@media screen and (max-width: 650px) {

	#head{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	#home-sopra {
		text-align: center;
	}
	
	#home-sotto-dx {
		width: 70vw;
	}

	#head-sx {
		text-align: center;
	}

	#head-dx {
		text-align: center;
	}

	#head-sx-luna {
		width: 100%;
	}

	#contenitore-immagini {
		padding: 0;
	}

	.back-svg {
		position: absolute;
		top: 30px;
		left: 30px;
		width: 35px;
	}


	.back-svg-shrink {
		width: 30px;
		position: absolute;
		top: 5px;
	}
	
	#disciplina {
		position: absolute;
		top: 40px;
		right: 30px;
		font-size: 1rem;
	}

	#head-sotto {
		padding-top: 0;
		text-align: center;
	}
	
	#head-sotto-sx {
		width: 90%;
	}
	
	#head-sotto-sx-testo {
		width: 100%;
	}

	#home-footer-img {
		width: 100vh;
	}
	
	.testo-gigante {
		font-size: 2.2rem;
		line-height: 3rem;
		margin-top: 4rem;
	}
	
	
	.testo-serif-piccolo {
		font-size: 1.2rem;
		line-height: 1.3rem;
	}
	
	#head-sotto-sx {
		width: 100%;
	}
  
	#head-sotto-dx {
		width: 90%;
		padding: 1rem 0;
	}

	#head-sotto-dx-team {
		width: 90%;
		padding: 0 0 1rem 0;
	}

	#head-sotto-dx-year {
		width: 100%;
		padding: 0;
	}
	
	#footer {
		padding-left: 0;
		padding-right: 0;
	}
	
	.video {
		height: 300px;
	}

	.testo-gigante-shrink {
		font-size: 1.5rem;
		line-height: 2.3rem;
		margin: 0;
	}

	.immagine-titolo {
		display: none;
	}
}










