a {
	text-decoration: none;
}

body {
	margin: 0;
	background-color: #FAF6E7;
}

code {
    font-family: Source;
    font-size: 1.1rem;
}



.red {
	color:#ee5a7a !important;
}

.bold {
	font-family: Karla_Bold;
}

@font-face {
    font-family: Karla_Regular;
    src: url(/_fonts/Karla-Regular.ttf); 
}

@font-face {
    font-family: Karla_Italic;
    src: url(/_fonts/Karla-Italic.ttf);
}

@font-face {
    font-family: Karla_Bold;
    src: url(/_fonts/Karla-Bold.ttf);
}

@font-face {
    font-family: Source;
    src: url(/_fonts/SourceCodePro-Regular.ttf);
}







.tutorial-container {
    margin-top: 4rem;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.tutorial-text-block {
    width: 70%;
    margin: 2rem 0 2rem 0;
}

.tutorial-code-block {
    width: 100%;
    padding-left: 1.5rem;
    overflow-y: scroll;
    background-color: #282a36;
    border-radius: 25px;
}

.tutorial-image {
    width: 100%;
}









.tutorial-title-big {
    font-family: Karla_Bold;
    font-size: 4rem;
    color: black;
    line-height: 4rem;
    margin-bottom: 3rem;
}

.tutorial-text {
    font-family: Karla_Regular;
	font-size: 1.5rem;
	line-height: 1.8rem;
	margin-bottom: 1rem;
}






#icona-home {

	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor; 

	position: fixed;
	top: 4rem;
	left: 4rem;
	width: 4rem;
}

#icona-home:hover {
	box-shadow: 5px 8px 8px #0006;
}








@media (max-width: 1000px) {

	.tutorial-container {
        width: 90%;
    }
    
    .tutorial-text-block {
        width: 90%;
    }
    
    .tutorial-code-block {
        width: 100%;
        padding-left: 0;
        border-radius: 15px;
    }
    
    .tutorial-title-big {
        font-size: 3rem;
        line-height: 3rem;
    }
    
    code {
        font-size: 0.9rem;
    }

    #icona-home {
        display: none;
    }

}


@media (max-width: 600px) {

    .tutorial-text {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    code {
        font-size: 0.7rem;
    }

    .tutorial-container {
        width: 95%;
    }

}